[ req ]
default_bits = 4096
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no
[ req_distinguished_name ]
countryName = GB
stateOrProvinceName = England
localityName  = Milton Keynes
organizationName = cbweb
commonName = chipper.local
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1   = chipper.local
DNS.2   = chipper.cbweb.xyz
